<div class="container mt-5">
    <div class="card">
      <div class="card-header text-center fw-bold fs-1">Inicio de Sesión</div>
      <div class="card-body">
        <div class="container">
          <div class="row my-4">
            <div class="col">
              
            </div>
          </div>
          <div class="row my-4">
            <div class="col text-center">
              <a routerLink="/registro" class="link-primary">No tienes cuenta? Registrarse</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>