<br><br>
<div *ngFor="let solicitud of solicitudes">
    <div  class="card text-white bg-primary mb-3"  *ngIf="mostrarSolicitud(solicitud)">

        <div class="card-body" >
    
          <div class="container text-center">
            <div class="row">
                <div class="col">
                    <h4>{{solicitud.alumnoAsesorado.nombre.toUpperCase()}} {{solicitud.alumnoAsesorado.apellidoPaterno.toUpperCase()}} {{solicitud.alumnoAsesorado.apellidoMaterno.toUpperCase()}} </h4>
                    <h3 class="fw-bold">{{solicitud.materiaAsociada.nombre.toUpperCase()}}</h3>
                </div>
                <div class="col" >
                    <h4 class="text-danger fw-bold" *ngIf="solicitud.urgencia">URGENTE</h4>
                    <h4 class="text-warning fw-bold" *ngIf="!solicitud.urgencia">PUEDE ESPERAR</h4>
                    <button class="btn btn-success btn-lg m-2">ACEPTAR</button>
                    <button class="btn btn-danger btn-lg m-2">CANCELAR</button>
                    <button class="btn btn-info btn-lg m-2">VER MÁS</button>
                </div>
            </div>
        </div>
    
    </div>
</div>





<!-- <div class="container" *ngFor="let solicitud of solicitudes">
    <div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <p id="nombre">{{solicitud.alumnoAsesorado.nombre.toUpperCase()}} {{solicitud.alumnoAsesorado.apellidoPaterno.toUpperCase()}} {{solicitud.alumnoAsesorado.apellidoMaterno.toUpperCase()}} </p>
                </div>
                <div class="col" >
                    <p class="urgencia" *ngIf="solicitud.urgencia">URGENTE</p>
                    <p class="urgencia" *ngIf="!solicitud.urgencia">PUEDE ESPERAR</p>
                </div>
        </div>
    
            <div class="row">
                <div class="col">
                    <p id="materia">{{solicitud.materiaAsociada.nombre.toUpperCase()}}</p>
                </div>
                <div class="col">
                    <button class="btn btn-success btn-lg">ACEPTAR</button>
                    <button class="btn btn-danger btn-lg">CANCELAR</button>
                    <button class="btn btn-primary btn-lg">VER MÁS</button>
                </div>
            </div>
        </div>
    </div>
   
</div> -->