<div *ngFor="let solicitud of solicitudes">
    <div class="card-body" class="card text-white bg-primary mb-3" *ngIf="mostrarSolicitud(solicitud)">
        <div class="card-body">
            <div class="container text-center">
                <div class="row">
                    <div class="col align-self-center">
                        <h4 class="fst-italic text-muted">Nombre del alumno</h4>
                        <h4>{{solicitud.alumnoAsesorado.nombre.toUpperCase()}}
                            {{solicitud.alumnoAsesorado.apellidoPaterno.toUpperCase()}}
                            {{solicitud.alumnoAsesorado.apellidoMaterno.toUpperCase()}} </h4>
                        <h4 class="fst-italic text-muted">Materia</h4>
                        <h4 class="fw-bold">{{solicitud.materiaAsociada.nombre.toUpperCase()}}</h4>
                    </div>
                    <div class="col align-self-center">
                        <h3 class="text-muted fw-bold">PROGRAMADA</h3>
                        <h4 class="text-secundary fw-bold">{{solicitud.fechaAsesoria}} hrs.</h4>
                        <h4 class="text-secundary fw-bold">{{solicitud.sitio}}</h4>
                    </div>
                    <div class="col align-self-center">
                        <div class="d-grid d-xl-block">
                            <button class="btn btn-danger btn-lg m-2">CANCELAR</button>
                            <button class="btn btn-info btn-lg m-2" data-bs-toggle="modal"
                                data-bs-target="#modalDetalles" (click)="verMas(solicitud.ID)">DETALLES</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade " id="modalDetalles" tabindex="-1" aria-labelledby="modalDetalles" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetallesNombre">DETALLES DE ASESORÍA</h5>
            </div>
            <div class="modal-body">
                <div class="my-2">
                    <h5 class="fw-bold">Datos del alumno asesorado</h5>

                    <label class="form-label">Nombre</label>
                    <input type="text"
                        value="{{solicitudDetalle.alumnoAsesorado.nombre.toUpperCase()}} {{solicitudDetalle.alumnoAsesorado.apellidoPaterno.toUpperCase()}} {{solicitudDetalle.alumnoAsesorado.apellidoMaterno.toUpperCase()}}"
                        class="form-control" readonly>
                    
                    <label class="form-label">Carrera / Semestre</label>
                    <input type="text"
                        value="ING. SISTEMAS COMPUTACIONALES / {{solicitudDetalle.alumnoAsesorado.semestre}}"
                        class="form-control" readonly>

                    <label class="form-label">Contacto</label>
                    <input type="text"
                        value="{{solicitudDetalle.alumnoAsesorado.telefono}} / {{solicitudDetalle.alumnoAsesorado.correo.toUpperCase()}}"
                        class="form-control" readonly>
                </div>
                <div class="my-2">
                    <h5 class="fw-bold">Datos de Asesoría</h5>
                    <label class="form-label">Materia</label>
                    <input type="text" value=" {{solicitudDetalle.materiaAsociada.nombre.toUpperCase()}}"
                        class="form-control" readonly>

                    <label class="form-label">Tema</label>
                    <input type="text" value="{{solicitudDetalle.tema.toUpperCase()}}" class="form-control" readonly>

                    <label class="form-label">Descripción de necesidades</label>
                    <input type="text" value="{{solicitudDetalle.descripcion.toUpperCase()}}" class="form-control" readonly>
                </div>
                <div class="my-2">
                    <h5 class="fw-bold">Datos de Programación</h5>
                    <label class="form-label">Fecha</label>
                    <input type="text" value=" {{solicitudDetalle.fechaAsesoria.toUpperCase()}} HRS"
                        class="form-control" readonly>

                    <label class="form-label">Sitio</label>
                    <input type="text" value="{{solicitudDetalle.sitio}}" class="form-control" readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>