<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logouaa.png" alt="..." width="100px" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-left" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/alumno']">Alumno</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/tutor']">Tutor</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" (click)="cerrar()">Cerrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>