/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


.container{
    background-color: #394d7e;
    border-radius: 20px;
    margin: 0 auto 40px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.contenedor{
    background-color: #394d7e;
    color: white;
    width: 75%;
    border-radius: 20px;
    margin: 0 auto 40px;
    height: 115px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#nombre{
    font-size: 20px;
    margin-top: 25px;
    position: relative;
}

#materia{
    font-size: 30px;
    margin-top: -15px;
}

.urgencia{
    font-size: 23px;
    margin-top: 20px;
    color: #ffff66;
}

.btn-lg{
    margin: 2px 2px 2px;
   
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    margin-top: -1em;
}

